<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Snow Knowledge Base</title>
    <meta charset="UTF-8">
    <meta content="Snow Knowledge Base" name="description">
    <meta content="Shane Concannon" name="author">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="shortcut icon" th:href="@{/images/small_logo.png}" type="image/png"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
    <script charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"
            type="text/javascript"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
        <button class="btn btn-link" id="menu-toggle"
                style="margin-right: 20px;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a th:if="${response=='NoData'}" class="navbar-brand" th:href="@{/}">Knowledge Base</a>
        <a th:if="${response==''}" class="navbar-brand" th:href="@{/}" th:each="settings: ${settings}">[[${settings.title}]]</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/}">Home</a>
                    <span class="sr-only">(current)</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/docs}">Documents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/files}">Downloads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tickets/new}">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/feed}">News Feed</a>
                </li>
            </ul>
            <div class="row">
                <div class="col-sm">
                    <a style="margin-right:10px;" th:href="@{/users/password}"><span class="navbar-text">Hello, <span
                            sec:authentication="name"></span></span></a>
                    <a style="margin-right:10px;" th:href="@{/admin}" type="button" class="btn btn-success"
                       sec:authorize="hasRole('ROLE_ADMIN')"><i class="bi-shield-exclamation"></i> Admin</a>
                    <a style="margin-right:10px;" th:href="@{/admin}" type="button" class="btn btn-success"
                       sec:authorize="hasRole('ROLE_USER')"><i class="bi-shield-exclamation"></i> Admin</a>
                    <a th:href="@{/logout}" type="button" class="btn btn-danger"><i class="bi-box-arrow-in-left"></i>
                        Logout</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<main role="main">
    <div class="jumbotron bg-secondary">
        <div class="alert alert-warning"><i class="fa-solid fa-circle-info"></i>
            <a href="https://us06web.zoom.us/rec/play/7dkdmW9zsgOSy1DxGtoA24im6k2WX3JLqMtQn4R3AjPOpAuaeOjLH7JfuBry5YAmrOYkRpDDL7LTr0rL.WeKCzu1ZEmXlMljo?canPlayFromShare=true&from=share_recording_detail&continueMode=true&componentName=rec-play&originRequestUrl=https%3A%2F%2Fus06web.zoom.us%2Frec%2Fshare%2Fyj3NEnjDwKSNc1SLHGTgrW7CkjnhnRXEttujFeaw9yIhYiTF1F8-HxHhalMwRm3q.FN6WIFvq3OWR4KEL"> Catch up on our latest UKG Time & Attendance Webinar</a>
        </div>
        <div class="container">
            <div class="d-none d-md-block" style="text-align: center; margin-top: 10px;">
                <!--<a href="https://snowtechnology.ie/quantum-web-webinar/"><img alt="login-logo" th:src="@{/images/webinar.png}"></a>-->
                <img alt="login-logo" th:src="@{/images/combined-logo.svg}" style="width:50%">
            </div>
            <h1 style="text-align: center; margin-top: 30px;" class="display-6" th:each="settings: ${settings}">Welcome
                to the
                [[${settings.title}]]</h1><br>
            <p style="text-align: center">Search our full library of documents and downloads below</p><br>
            <form autocomplete="off">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="text"
                           id="myInput" name="myInput" placeholder="Search...">
                    <span class="input-group-append">
                <div class="input-group-text"><i class="fa fa-search"></i></div>
            </span>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3><i class="fa-solid fa-file-lines"></i> Documents</h3><br>
                <p>Browse through our collection of articles, user guides and FAQs.
                    This section covers all the help material you will need to navigate the Snow Technology suite of
                    products.
                    If you can not find what you are looking for, please log a call with our support desk.</p><br>
                <p><a class="btn btn-secondary" th:href="@{/docs}" role="button">View Documents &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h3><i class="fa-solid fa-cloud-arrow-down"></i> Downloads</h3><br>
                <p>The downloads section is where you will find all the latest releases of our software.
                    You will also find a catalogue of scripts that can be added to our payroll software.
                    To add a script to the software, place it in the Scripts folder of the payroll directory.</p><br>
                <p><a class="btn btn-secondary" th:href="@{/files}" role="button">View Downloads &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h3><i class="fa-solid fa-desktop"></i> Website</h3><br>
                <p>Visit our website to keep up-to-date on all the latest news from Snow Technology.
                    Browse our product catalogue and discover what Snow Technology has to offer.
                    Book a free demo of our payroll software, or any of our other add-on offerings, today.</p><br>
                <p><a class="btn btn-secondary" href="https://snowtechnology.ie/" role="button">Vist Website &raquo;</a>
                </p>
            </div>
        </div>
    </div>
</main>
<script th:inline="javascript">
var documents = [];
/*<![CDATA[*/
var documentObjectArray = /*[[${documents}]]*/ ;
for (var j = 0; j < documentObjectArray.length; j++) {
 var newDocument = document.createElement('a');
 newDocument.textContent = documentObjectArray[j].name;
 newDocument.setAttribute('href', newDocument.baseURI+'documents/view_document/'+documentObjectArray[j].id);
 documents.push(newDocument);
}
/*]]>*/
documents.sort();

</script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
<script crossorigin="anonymous" src="https://kit.fontawesome.com/312e5960da.js"></script>
<script crossorigin="anonymous"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        referrerpolicy="no-referrer"
        src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script th:src="@{/js/home.js}" type="text/javascript"></script>
</body>
</html>